body{
    font-family: Arial,  sans-serif;
    background-color: azure;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
}

.weatherForm {
margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.card {
    background: linear-gradient(180deg, hsl(210, 96%, 48%), hsl(210, 96%, 38%));
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h2 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

.card p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}

.HumidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.desDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 8rem;
}

.errorDisplay {
   font-size: 2.5rem;
   font-weight: bold;
   color: hsla(0, 0%, 0%, 0.75);
}