{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APEX</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fas fa-gem"></i>APEX</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__btn">
                    <a href="{% url 'login' %}" class="button">Sign in</a>
                </li>
                <li class="navbar__btn">
                    <a href="{% url 'register' %}" class="button">Sign up</a>
                </li>
            </ul>
        </div>
        </nav>
    </header>
 
    <div class="main__container">
        <div class="main__content">
            <h1>A single digital ecosystem of the city</h1>
            <p>Control city problems from application to increase citizen satisfaction, Conveniency and Transparency.</p>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
 